
/* force scrollbar, prevents initial gap */
html { overflow-y: scroll; }

.gridItem {
    float: left;
    background: lightblue;
}

  /* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
 }
