body {
    background: #222
}
.App {
    width: 100%;
    margin: auto;
    background: #223;
    color: #CCD;
}

/* force scrollbar, prevents initial gap */
html { overflow-y: scroll; }

.gridItem {
    box-sizing: border-box;
    float: left;
    border: 1px dotted #333;
    transition: opacity 0.5s;   
}

.sticky {
    box-sizing: border-box;    
    float: left;
    border: 1px dotted #400;
    
    background: #944 !important;
}

.advert {
    box-sizing: border-box;    
    float: left;
    border: 1px dotted rgb(18, 44, 34);
    
    background: #449977 !important;
}

.fit {
    border: 1px dotted rgb(18, 44, 34);    
    background: #ad692a !important;
   
}

  /* clear fix */
grid:after {
    content: '';
    display: block;
    clear: both;
 }

