body {
    background: #222
}
.App {
    width: 100%;
    margin: auto;
    background: #223;
    color: #CCD;
}

/* force scrollbar, prevents initial gap */
html { overflow-y: scroll; }

.gridItem {
    float: left;
    transition: opacity 0.5s;
}

  /* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
 }

